---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Formatted from '../components/Formatted.astro';

interface Props {
  title : string
  pubDate : Date
}

const { title, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} description='Markdown' />
  </head>
  <body>
    <Header />
    <main>
      <div class="page-content">
        <div id="page-back">
         <a href="../../post" class="back">back</a>
        </div>
      </div>
      <div class="page-content">
        <div id="page-head">
          <h2>{title}</h2>
          <Formatted date={pubDate} />
        </div>
        <hr color= "#DEE2E6">
        <div class="page-content">
          <div id="page-ctn">
            <slot />
          </div>
        </div>
      </div>
    </main>
    <Footer />
    <script src="../style/prism.js"></script>
  </body>
</html>
