---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <BaseHead title="Post" description="post-page" />
  </head>
  <body>
    <Header />
    <main>
      <div class="post-content">
        <div class="post-title">
          <h2>Post</h2>
        </div>
      </div>
      <div class="post-content">
        <div class="post-card">
          <slot />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>